# Rust build artifacts
/target/
Cargo.lock
.cargo/

# Editor and OS
.vscode/
.idea/
.vs/
*.iml
*.swp
*.swo
*~
.DS_Store

# Windows binaries
*.exe
*.pdb

# Logs
*.log

# Reference repositories (not part of this project)
Atmosphere-master/
deko3d-master/
InvadersNX-master/
libnx-master/
mesa-26.1.0/
nx-hbloader-master/
nx-hbmenu-master/
RustSwitch/
SDL-main/
space-nx-master/
switchbrew-wiki/
yuzu-master/
